{ -o-box-sizing: border-box; box-sizing: border-box; }
html,body{ width:100%; height:100%; margin:0; padding:0;}
body{ overflow:hidden; color:rgba(255,255,255,0.5);font-family: "Cabin", sans-serif; }
#ScrollPane{ position:relative; width:100%; height:100%; }
.scr,.pane{ position:relative; width:100%; height:100%;font-size:30px;}
b{font-family:"poppins", sans-serif; font-size:80px; display:block; color:#ffffff; text-shadow:1px 1px 0 #bbbbbb,2px 2px 0 #cccccc,3px 3px 0 #cccccc,4px 4px 0 #cccccc,5px 5px 0 #cccccc,5px 5px 10px rgba(0,0,0,0.3); }


span{ display:block; text-align:center;}
.horiz { position:relative; width:100%; height:100%; }
.horiz .spane{ overflow:hidden; font-size:0; position:relative; width:100%; height:100%; white-space:nowrap;} 
.horiz .pane{ display:inline-block; width:100%; }
.ct{  position:absolute; bottom:3%; left:0; width:100%; height:100%; display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
 .an .ct{transform:translate3D(0,20px,0) rotateX(90deg) scale(0.5); opacity:0; transition:all 0.5s cubic-bezier(0.175, 0.885, 0.380, 1.470);}
.left,.right{ overflow:hidden; display:block; position:absolute; height:100%; width:50%; top:0; }
.right{ left:50%;}
.scrollup{ position:absolute; width:200px; top:10px; left:50%; margin-left:-100px; z-index:3000; font-size:20px; text-align:center;}
.scrolldown{ position:absolute; width:100%; left:50%; transform: translate(-50%, -50%); bottom:10px; font-size:clamp(.95rem, 1vw, 1.1rem); letter-spacing:4px; text-align:center;}
.an.visible .ct{ transform:translate3D(0,0,0) scale(1); opacity:1; }
#Helper{ display: none; position:fixed; background:#ffffff; bottom:0; left:0; padding:5px; z-index:3000; font-size:12px; color:#1e1e1e;}

a.portfolio:link{
  color: #ec5b5b;
  opacity: 1;
  text-decoration: none;
  font-family: "Cabin", sans-serif !important;
  font-weight: 450;
  font-size: 17px;
  opacity: 1;
  }

a.portfolio:hover{
  color: #5ac4be;
  opacity: 1;
  text-decoration: none;
  }

p {
  color: #1e1e1e;
}

b2 {
  font-family:poppins; 
  font-weight:bold; 
  font-size:83px; 
  display:block;
  background: linear-gradient(to right, #ec5b5b, #ec5b5b, #eca95b, #fbc254);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(4px 4px #dadbd9);
  text-align: center;
}

p2 {
  font-family: "Cabin", sans-serif !important;
  font-weight: 500;
  font-size: 17px;
  color: #ec5b5b;
  text-align: center; 
    
}

.contact-container {
    background-color: #1e1e1e !important;
    position: absolute;
    bottom: 0px;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0px;
    overflow: visible;
    left: 50%; 
    width: 100%;
    height: 300px;
    transform: translate(-50%, 0%);
    text-align: center;
    padding-top: 110px;
    padding-bottom: 225px;
    }
    
h3 {
	  color: white;
    font-family: "Cabin", sans-serif !important;
    text-transform: uppercase !important;
    font-weight: 600; 
    font-size: 45px;
    letter-spacing: 2px !important;
    line-height: 0;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-top: 40x;
    padding-bottom: 40px;
    text-shadow: 1px 1px .5px #5ac4be, 3px 3px .5px #f26b6c;
}


h4 { 
  font-size: 13px;
  font-weight: 550;
  font-family: "Cabin", sans-serif !important;
  color: white;
  letter-spacing: 4.5px;
  line-height: 3;
  text-align: center;
  margin-bottom: 0px; 
  margin-top: 0px; 
  padding-top: 0px; 
  padding-bottom: 10px; 
  padding-left: 35px; 
  padding-right: 35px; 
  display :inline-block; 
  width: auto; 
  }
  
a2:link, a2:visited {
  color: white;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline !important;
  font-weight: 550;
  font-family: "Cabin", sans-serif !important;
}

a2:hover, a2:active {
  color: #ec5b5b !important;
  background-color: transparent;
  text-shadow: none !important;
  cursor: pointer;
  text-decoration: underline #5ac4be !important;
}